#meter_needle {
    height: 40%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    transform-origin: bottom center;
    /*orientation fix*/
    transform: rotate(270deg);
  }
  #meter_needle3 {
    height: 40%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    transform-origin: bottom center;
    /*orientation fix*/
    transform: rotate(270deg);
  }
  #meter_needle2 {
    height: 40%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    transform-origin: bottom center;
    /*orientation fix*/
    transform: rotate(270deg);
}
#count-empresas, #lbl,#count-sistemas,#count-usuarios {
    position: absolute;
}
#count-empresas,#count-sistemas,#count-usuarios {
    cursor: pointer;
    left: 0;
    margin: auto;
    right: 0;
    top: 58%;
    width: 94%;
}
#lbl {
    background-color: #4B4C51;
    border-radius: 2px;
    color: white;
    font-family: 'courier new';
    font-size: 15pt;
    font-weight: bold;
    padding: 4px 4px 2px 4px;
    right: -48px;
    top: 57%;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
#wrapper {
    position: relative;
    margin: auto;
}
#meter {
    width: 100%;
    transform: rotateX(180deg);
}
.circle {
    fill: none;
}
.outline, #mask,#mask2,#mask3 {
    stroke: #F1F1F1;
    stroke-width: 65;
}
.range {
    stroke-width: 60;
}